.DS_Store
.idea/*
UnityProject/Assets/Dependencies/JEngine/Core/.idea/*
UnityProject/.idea/*
UnityProject/HotUpdateScripts/.vs/*
UnityProject/Library/*
UnityProject/Temp/*
UnityProject/obj/*
UnityProject/*.csproj
UnityProject/UnityProject.sln
UnityProject/HotUpdateScripts/obj/*
