.DS_Store
.idea/*
UnityProject/Assets/Dependencies/JEngine/Core/.idea/*
UnityProject/.idea/*
UnityProject/HotUpdateScripts/.vs/*
UnityProject/Library/*
UnityProject/Temp/*
UnityProject/obj/*
UnityProject/Assembly-CSharp-Editor.csproj
UnityProject/Assembly-CSharp.csproj
UnityProject/ILRuntime.csproj
UnityProject/UnityProject.sln
UnityProject/Malee.ReorderableList.Editor.csproj
UnityProject/Malee.ReorderableList.csproj
UnityProject/HotUpdateScripts/HotUpdateScripts/obj/*
